<strong>Olá, {{provider}}</strong>
<p>Houve um Cancelamento de horario, confira os detalhes abaixo</p>
<p>
  <strong>Cliente: </strong>{{user}}<br />
  <strong>Data/Hora: </strong>{{data}}<br />
  <br />
  <small>
    O Horario esta novamente disponivel para novos agendamentos
  </small>

</p>
